<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <header>
        <h3>Test App</h3>
        <p>Home</p>
        <a href="/signin">Sign In</a>
    </header>
    <div>
        <h1>Welcome to the Test</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus libero placeat maiores repellendus rem!</p>
        <a href="/register"><button>Start</button></a>
    </div>
    <div>
        <div>
            <h3>Manage Users</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, nemo!</p>
        </div>
    </div>
</body>

</html>