<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <header>
        <h3>Test App</h3>
        <p>Home</p>
        <a href="/signin">Sign In</a>
    </header>
    <div>
        <h1>Signin</h1>
        <form action="/sign_in">
            <label for="email_address">Email Address</label>
            <input type="text" name="email_address">
            <label for="password">Password</label>
            <input type="text" name="password">
        </form>
        <a href="/register">Don't have an account? Register</a>
    </div>
</body>

</html>